

.button {
    box-sizing: border-box;

    position: relative;
    font-weight: normal;
    font-size: medium;
    text-align: center;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: opacity 1s ease-in-out;
    background-color: hsl(233, 39%, 22%);
    box-shadow: hsl(233, 39%, 17%) 0px 7px 29px 0px;
    z-index: 0;

    .border {
      position: absolute;
      top: -50%;
      left: -50%;
      
      background-color: hsl(233, 39%, 37%);
      width: 100%;
      height: 50%;

      // transform: rotate(-45deg);

      transform: translate(-50%, -50%) rotate(-45deg);

      transition: width 1s ease-in-out, height 1s ease-in-out;

      animation-name: rotater;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      transform-origin: center;
      animation-timing-function: linear;
      z-index: -1;
    }

    .inner {
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */

        // padding: 0.5rem;
        box-sizing: border-box;
        margin: 1px;
        height: 100%;
        width: calc(100% - 4px);
        flex-grow: 1;
        background-color: hsla(233, 39%, 27%, 0.85);
        cursor: pointer;
    }

    @keyframes rotater {
      from {top: 0%; left: 0%};
      // from {transform: translate(0%, -50%) rotate(0deg);}
      // 10% {transform: translate(0%, 0%) rotate(10deg);}

      // 40% {transform: translate(0%, 0%) rotate(170deg);}
      // 60% {transform: translate(0%, 0%) rotate(190deg);}

      // 90% {transform: translate(0%, 0%) rotate(350deg);}
      30% {top: 150%; left: 150%}
      to {top: 150%; left: 150%}
    }
}

.button:hover {
    box-shadow: hsl(233, 39%, 37%) 0px 7px 29px 0px;
}