$hue: 233;
$card-width: 15rem;

.progress-bar {
    position: relative;
    width: $card-width;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: hsl($hue, 39%, 37%);
    color: white;
    font-size: medium;
    font-weight: bold;
    box-shadow: hsl($hue, 39%, 12%) 0px 7px 29px 0px;
    margin: 1rem 0.5rem;

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: hsl($hue, 39%, 47%);
    }

    .below {
        color: transparent;
    }

    .above {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
}