.transition {
    position: relative;
    overflow: hidden;
    transition: height 1s ease-in-out;
    width: 100%;

    .inner {
        width: 100%;
        transition: opacity 1s ease-in-out;
    }

    .foreground {
        position: absolute;
        // background-color: hsl(233, 39%, 22%);
        z-index: 10;
        transition: opacity 1s ease-in-out;

        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}